.input-box {
    margin: 10px;
    padding: 5px 15px;
    border-color: rgb(103, 220, 181);
 }
 .btn {
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(103, 220, 181);
 } 
 
 p { 
    font-weight: bold;
    margin-top: 10px;
 }
 
 .error {
    color: red;
    font-size: 12px;
 }
   
 input.ng-touched.ng-invalid {
    border-color: red;
 }
   
 input.ng-touched.ng-valid {
    border-color: green;
 }
 