.employees {
    border-collapse: collapse;
    width: 400px;
 }
 
 .employees td, .employees th {
    padding: 8px;
 }
 
 .employees tbody tr:nth-child(even){background-color: #f2f2f2;}
 
 .employees tbody tr:hover {background-color: #ddd;}
 
 .employees thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
 }