<div>
    <form method="post">
       <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" name="username" [(ngModel)]="user.username" required>
       
          <label for="password"><b>Password</b></label>
          <input type="password" name="password" [(ngModel)]="user.password" required>
       
          <label for="confirm_password"><b>Confirm Password</b></label>
          <input type="password" name="confirm_password" [(ngModel)]="user.confirmPassword" required>
       
          <button type="submit" (click)="showInfo($event)">Register</button>
       </div>
    </form>
 </div>