.container {
  margin-top: 20px;
  width: 80%;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding: 10px;
}

.form-group label {
  font-weight: bold;
  margin-right: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group.col-md-6 {
  flex: 1;
}

.dynamic-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.c-code {
  width: 30px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
}
