<div>
    <form method="post">
       <div [attr.class]="myContainerClass">
          <label for="username"><b>Username</b></label>
          <input type="text" [attr.placeholder]="placeholder1" name="username" required>
       
          <label for="password"><b>Password</b></label>
          <input type="password" [attr.placeholder]="placeholder2" name="password" required>
       
          <label for="confirm_password"><b>Confirm Password</b></label>
          <input type="password" [attr.placeholder]="placeholder3"
          name="confirm_password" required>
       
          <button type="submit">Register</button>
       </div>
    </form>
 </div>